---
import Layout from "../layouts/Layout.astro"

const pageTitle = "Articles et Tutoriels | Dev In Details"
---

<Layout>
  <h1>Articles et Tutoriels</h1>

  <p>Articles de développement web les plus récents.</p>

  <ul>
    <li><a href="/posts/github-gameoff-2024-postmortem/">GitHub Game Off 2024 - Retour d'expérience</a></li>
  </ul>
</Layout>