---
import logo from '../assets/devindetails.svg';
---

<header class="hero has-text-centered">
	<h1 class="title is-1 my-6">
		<a href="https://devindetails.fr"
		><img src={logo.src} width="44" height="50" alt="Dev In Details Homepage" /></a
	>
		Dev In Details
	</h1>
</header>

<style lang="scss">
	@use "bulma/sass/layout/hero";
	@use "bulma/sass/elements/title";
</style>
