---
import logo from "../assets/devindetails.svg"
---

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="/" class="navbar-item">
      <img src={logo.src} width="44" height="50" alt="Logo Dev In Details" />
      <span class="title is-size-4">Dev In Details</span>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item">
        Accueil
      </a>
      <a href="/blog/" class="navbar-item">
        Articles
      </a>
      <a href="/about/" class="navbar-item">
        A propos
      </a>
    </ul>
  </div>
</nav>

<style lang="scss">
  @use "bulma/sass/components/navbar";
  @use "bulma/sass/elements/title";

  a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
</style>