---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro"
import "../styles/global.css";

const { title = "Dev In Details", description = "Un blog sur la programmation JavaScript." } = Astro.props
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
	</head>
	<body>
		<div id="wrapper" class="is-flex is-flex-direction-column is-align-content-stretch">
			<Navigation />
			<div class="container is-flex-grow-1">
				<slot />
			</div>
			<Footer />
		</div>
	</body>
</html>

<style lang="scss" is:global>
	@use "bulma/sass/base";
	@use "bulma/sass/themes";
	
	@use "bulma/sass/layout/container";
	@use "bulma/sass/layout/hero";
  @use "bulma/sass/layout/footer";

	@use "bulma/sass/elements/block";
  @use "bulma/sass/elements/icon";
	@use "bulma/sass/elements/image";
  @use "bulma/sass/elements/content";
  @use "bulma/sass/elements/title";
  @use "bulma/sass/elements/tag";

	@use "bulma/sass/helpers/color";
	@use "bulma/sass/helpers/spacing";
	@use "bulma/sass/helpers/typography";
	@use "bulma/sass/helpers/visibility";
	@use "bulma/sass/helpers/flexbox";

	#wrapper {
		min-height: 100dvh;
	}

	header {
    margin-top: var(--bulma-navbar-height) !important;
    margin-bottom: 1rem;
  }
</style>
